<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="Content-Type" content="text/html">
    </meta>
    <title>Guiones</title>
</head>

<body>
    <h1>Guion</h1>

    <form action="form" method="post">
        <div>
            <label>Nombre de la obra</label>
            <input type="text" name="nombre">
        </div>

        <div>
            <label>Género de la obra</label>
            <select name="genero" id="genero">
                <option value="Tragedia">Tragedia</option>
                <option value="Comedia">Comedia</option>
                <option value="Culebron">Culebrón</option>
                <option value="Fantasia">Fantasía</option>
            </select>
        </div>

        <div>
            <label>Idea central</label>
            <input type="text" name="ideaCentral">
        </div>

        <div>
            <label>Guionista</label>
            <input type="number" name="idGuionista">
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>

        <div>
            <a href="/guion">Volver a la lista</a>
        </div>

    </form>
</body>

</html>