<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="Content-Type" content="text/html">
    </meta>

    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <title>Guionistas</title>
</head>

<body>
    <div>
        <h1>Guiones</h1>  
        <div>
            <a href="/guion/form">Nuevo registro</a>
            <a href="/">Volver al menú</a>
            <a href="/guion">Reiniciar</a>
        </div>
        <div>
            <form action="/guion/search" method="POST">
                <input type="text" name="nombre" placeholder="Buscar...">
                <button type="submit">Enviar</button>
            </form>
        </div> 

        <table>
            <tr>
                <th>Nombre de la obra</th>
                <th>Género</th>
                <th>Idea central</th>
                <th>Nombre del guionista</th>
            </tr>

            <tr th:each="entry,status : ${guiones}">
                <td th:text="${entry.nombreObra}"></td>
                <td th:text="${entry.generoObra}"></td>
                <td th:text="${entry.ideaCentral}"></td>
                <td th:text="${entry.guionista.nombre}"></td>
            </tr>
        </table>
    </div>
</body>

</html>