<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>POMPONIO</title>
</head>
<body>
	<div style="text-align:center">
		<h1>POMPONIO</h1>
		<p>EN LA FAMOTIDINA</p>
		
		<div>
			<div>
				<a href="/guionista">Lista de guionistas</a>
			</div>
			<div>
				<a href="/guion">Lista de guiones</a>
			</div>
			<div>
				<a href="/actor">Lista de actores</a>
			</div>
		</div>
	</div>
</body>
</html>